<!-- Book Preloader -->
    <div class="book_preload">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
<!--/ End Book Preloader -->

<!-- Header -->
<header class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <!-- Contact -->
          <ul class="content">
            <li><i class="fa fa-phone"></i>940-214-917</li>
            <li><a href="mailto:educacioncristiana@ladp.org.pe"><i class="fa fa-envelope-o"></i>educacioncristiana@ladp.org.pe</a></li>
            <li><i class="fa fa-clock-o"></i>Horario: 09:00am - 06:00pm</li>
          </ul>
          <!-- End Contact -->
        </div>
        <div class="col-lg-4 col-12">
          <!-- Social -->
          <ul class="social">
            <li><a href="https://www.facebook.com/dinecladp" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
          <!-- End Social -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <div class="logo">
            <a href="{{ site.url }}"><img src="{{ '/assets/images/logo.jpg' | relative_url }}" alt="dinac" /></a>
          </div>
          <div class="mobile-menu"></div>
        </div>
        <div class="col-lg-9 col-md-9 col-12">
          <!-- Header Widget -->
          <div class="header-widget">
            <div class="single-widget">
              <i class="fa fa-phone"></i>
              <h4>Llamanos <span>(+51) 423-6201 Anexo 24</span></h4>
            </div>
            <div class="single-widget">
              <i class="fa fa-envelope-o"></i>
              <h4>Escribenos <a href="mailto:mailus@mail.com"><span>educacioncristiana@ladp.org.pe</span></a></h4>
            </div>
            <div class="single-widget">
              <i class="fa fa-map-marker"></i>
              <h4>Sede Central <span>Av Colombia 325 Pueblo Libre, Lima</span></h4>
            </div>
          </div>
          <!--/ End Header Widget -->
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
  <!-- Header Menu -->
  <div class="header-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-default">
            <div class="navbar-collapse">
              <!-- Main Menu -->
              <ul id="nav" class="nav menu navbar-nav">
                <li class="active"><a href="{{ site.url }}">Inicio</a></li>
                <li>
                  <a href="{{ '/ibisep' | relative_url }}">IBISEP</a>
                </li>
                <li><a href="{{ '/ibad' | relative_url }}">IBAD</a></li>
                <li><a href="{{ '/setad' | relative_url }}">SETAD</a></li>
                <li><a href="{{ '/announces' | relative_url }}">ANUNCIOS</a></li>
                <li><a href="{{ '/documentos' | relative_url }}">Documentos</a></li>
                <li><a href="{{ '/estadisticas' | relative_url }}">Estad&iacute;sticas</a></li>
              </ul>
              <!-- End Main Menu -->
              <!-- button
              <div class="button">
                <a href="contact.html" class="btn"><i class="fa fa-pencil"></i>Apply Now</a>
              </div>
              / End Button -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Menu -->
</header>
<!-- End Header -->
