<!-- Jquery JS-->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-migrate.min.js' | relative_url }}"></script>
<!-- Popper JS-->
<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<!-- Bootstrap JS-->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<!-- Jquery Steller JS -->
<script src="{{ '/assets/js/jquery.stellar.min.js' | relative_url }}"></script>
<!-- Particle JS -->
<script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
<!-- Fancy Box JS-->
<script src="{{ '/assets/js/facnybox.min.js' | relative_url }}"></script>
<!-- Magnific Popup JS-->
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
<!-- Masonry JS-->
<script src="{{ '/assets/js/masonry.pkgd.min.js' | relative_url }}"></script>
<!-- Circle Progress JS -->
<script src="{{ '/assets/js/circle-progress.min.js' | relative_url }}"></script>
<!-- Owl Carousel JS-->
<script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
<!-- Waypoints JS-->
<script src="{{ '/assets/js/waypoints.min.js' | relative_url }}"></script>
<!-- Slick Nav JS-->
<script src="{{ '/assets/js/slicknav.min.js' | relative_url }}"></script>
<!-- Counter Up JS -->
<script src="{{ '/assets/js/jquery.counterup.min.js' | relative_url }}"></script>
<!-- Easing JS-->
<script src="{{ '/assets/js/easing.min.js' | relative_url }}"></script>
<!-- Wow Min JS-->
<script src="{{ '/assets/js/wow.min.js' | relative_url }}"></script>
<!-- Scroll Up JS-->
<script src="{{ '/assets/js/jquery.scrollUp.min.js' | relative_url }}"></script>

<!-- Main JS-->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
